/* colors */

$violet-color: #6825ac;
$yellow-color:  #fbce00;
$green-color: #2ecc71;
$red-color: #e74c3c;
$light-grey-color: #f9f9f9;
$text-light-color: #eee;
$white-color: #fff;
$primary-bg-color: #f8f8f9;
$text-color: #333;
$dark-grey-color: #222;

/* gutters */

$container-padding: calc(20px + 15%);

/* sizes */

$footer-height: 80px;
