<div class="wrapper">
  <div class="container">
    <amp-logo></amp-logo>
    <div class="heading">
      <h1 class="title">Courses</h1>
      <div
        class="breadcrumbs"
        *ngIf="isAuthenticated()"
      >
        <span *ngFor="let brs of breadcrumbs; let last = last">
          <a *ngIf="brs.link; else notlink" [routerLink]="brs.link">{{ brs.name }}</a>
          <ng-template #notlink>
            <span>{{ brs.name }}</span>
          </ng-template>
          <span *ngIf="!last"> > </span>
        </span>
      </div>
    </div>
    <div
      class="account"
      *ngIf="isAuthenticated()"
    >
      <div class="username">{{ userInfo }}</div>
      <a
        class="logout"
        (click)="logout()"
      >Logout</a>
    </div>
  </div>
</div>
