<div class="wrapper">
  <div class="container">
    <amp-logo></amp-logo>
    <div class="heading">
      <h1 class="title">Courses</h1>
      <div
        class="breadcrumbs"
        *ngIf="isAuthenticated()"
      >
        <span *ngFor="let bs of breadcrumbs; let last = last"><a [routerLink]="bs.link">{{ bs.name }}</a>
          <span *ngIf="!last"> > </span>
        </span>
      </div>
    </div>
    <div
      class="account"
      *ngIf="isAuthenticated()"
    >
      <div class="username">{{ userInfo }}</div>
      <a
        class="logout"
        (click)="logout()"
      >Logout</a>
    </div>
  </div>
</div>
