<article class="container"
         [ngClass]="{ 'container_top-rated': courseItem.topRated }"
         [ampHighlightRecent]="courseItem.addedDate">
  <div class="general">
    <header class="heading">
      <div class="heading-item course-title">{{ courseItem.title | uppercase }}</div>
      <!--<div class="heading-item">{{ courseItem.id }}</div>-->
      <div class="heading-item">{{ courseItem.duration | duration }}</div>
      <div *ngIf="courseItem.topRated"
           class="heading-item">
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <div class="heading-item course-added-date">{{ courseItem.addedDate | date: 'mediumDate' }}</div>
    </header>
    <div class="description">{{ courseItem.description }}</div>
  </div>
  <aside class="aside">
    <a class="aside-item btn btn-yellow">Edit</a>
    <a class="aside-item btn btn-red"
       (click)="onRemoveItem(courseItem)">
      Remove
    </a>
  </aside>
  <header></header>
</article>
