<form
  class="form"
  #loginForm="ngForm"
  (submit)="onLogin($event)">
  <label
    class="row"
    for="login-input"
  >Login</label>
  <input
    id="login-input"
    class="row"
    type="text"
    [(ngModel)]="login"
    name="login"
    required
  >
  <label
    class="row"
    for="password-input"
  >Password</label>
  <input
    id="password-input"
    class="row"
    type="password"
    [(ngModel)]="password"
    name="password"
    required
  >
  <button
    type="submit"
    class="login-btn btn btn-violet"
    [disabled]="loginForm.form.invalid"
  >Login</button>
</form>
