<div class="container">
  <span class="item-container">
    <a class="page-item btn btn-violet"
       (click)="toPreviousPage()">
      <li class="fa fa-chevron-left"></li>
    </a>
  </span>

  <span *ngFor="let page of getPageNumbers()"
        class="item-container">
    <a class="page-item btn btn-violet"
       [ngClass]="{ 'page-item--current': currentPage === page }"
       (click)="onPageChange(page)"
    >{{ page }}</a>
  </span>

  <span class="item-container">
    <a class="page-item btn btn-violet"
       (click)="toNextPage()">
      <li class="fa fa-chevron-right"></li>
    </a>
  </span>
</div>
