<div class="container">
  <span class="item-container">
    <a class="page-item btn btn-violet">
      <li class="fa fa-chevron-left"></li>
    </a>
  </span>

  <span class="item-container">
    <a class="page-item btn btn-violet">1</a>
  </span>

  <span class="item-container">
    <a class="page-item btn btn-violet">2</a>
  </span>

  <span class="item-container">
    <a class="page-item btn btn-violet">33</a>
  </span>

  <span class="item-container">
    <a class="page-item btn btn-violet">
      <li class="fa fa-chevron-right"></li>
    </a>
  </span>
</div>
