@import '../../../styles/common';

.container {
  display: flex;
  padding: 8px 0;
}

.item-container {
  font-size: .9rem;
  margin-right: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

.page-item {
  &--current {
    background-color: $yellow-color;
    color: $text-color;

    &:hover {
      background-color: $yellow-color;
    }
  }
}
