<div class="wrapper">
  <div class="container">
    <nav class="links">
      <a routerLink="/auth"
         routerLinkActive="active">Auth</a>
      <a routerLink="/courses"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">Courses</a>
      <a routerLink="/courses/new"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">New Course</a>
      <a routerLink="/courses/3"
         routerLinkActive="active">Edit</a>
    </nav>
    <h4 class="title"> Anton Dmytriichuk, 2018</h4>
  </div>
</div>
