@import '~normalize.css/normalize';
@import './app/styles/common';

html {
  height: 100%;
}

body {
  position: relative;
  min-height:100%;
  font-family: Verdana, serif;
  background-color: $primary-bg-color;
}
