<article class="container">
  <div class="general">
    <header class="heading">
      <div class="heading-item course-title">{{courseItem.title}}</div>
      <div class="heading-item">{{courseItem.id}}</div>
      <div class="heading-item">{{courseItem.duration}}</div>
      <div class="heading-item course-added-date">{{courseItem.addedDate | date: 'mediumDate'}}</div>
    </header>
    <div class="description">{{courseItem.description}}</div>
  </div>
  <aside class="aside">
    <a class="aside-item btn btn-yellow">Edit</a>
    <a class="aside-item btn btn-red"
       (click)="onRemoveItem(courseItem)">
      Remove
    </a>
  </aside>
  <header></header>
</article>
