<div class="wrapper">

  <form
    [formGroup]="addCourseForm"
    novalidate
    class="add-form">

    <div class="form-row">
      <div class="form-row__title">Title</div>
      <div class="form-row__aside-right">
        <input
          formControlName="title"
          class="full-width"
          [ngClass]="{ 'error': isInputInvalid('title') }"
          type="text">
        <span
          class="error-msg"
          *ngIf="hasInputError('title', 'required')">Please provide a title</span>
        <span
          class="error-msg"
          *ngIf="hasInputError('title', 'maxlength')">Title should be less than 50 symbols</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-row__title">Description</div>
      <div class="form-row__aside-right">
        <textarea
          class="full-width" name="" id="" cols="30" rows="10"
          [ngClass]="{ 'error': isInputInvalid('description') }"
          formControlName="description"
        ></textarea>
        <span
          class="error-msg"
          *ngIf="hasInputError('description', 'required')">Please provide a description</span>
        <span
          class="error-msg"
          *ngIf="hasInputError('description', 'maxlength')">Description should be less than 50 symbols</span>
      </div>
    </div>

    <div class="form-row">
      <div class="form-row__title">Date</div>
      <div class="form-row__aside-right">
        <input
          formControlName="date"
          class="full-width"
          [ngClass]="{ 'error': isInputInvalid('date') }"
          type="text">
        <span
          class="error-msg"
          *ngIf="hasInputError('date', 'dateFormat')">Please specify date dd/mm/yyyy</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row__title">Duration</div>
      <div class="form-row__aside-right">
        <input
          formControlName="duration"
          [ngClass]="{ 'error': isInputInvalid('duration') }"
          type="text">
        <span>{{ addCourseForm.get('duration').value | duration }}</span>
        <span
          class="error-msg"
          *ngIf="hasInputError('duration', 'durationFormat')">Please specify a number</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row__title">Authors</div>
      <div class="form-row__aside-right">
        <amp-authors-panel
          class="authors"
          formControlName="authors"
          [authorsList]="authorsList"
          [ngClass]="{ 'error': addCourseForm.get('authors').invalid }"
        ></amp-authors-panel>
        <span
          class="error-msg"
          *ngIf="this.addCourseForm.get('authors').hasError('empty')">At least 1 author should be chosen</span>
      </div>
    </div>
    <div class="form-row form-row--centralised">
      <button
         class="button-save btn btn-violet"
         (click)="onSave()"
         [disabled]="addCourseForm.invalid"
      >Save</button>
      <button
        class="button-cancel btn btn-red"
         (click)="onCancel()"
      >Cancel</button>
    </div>
  </form>

  <p>Form value: {{ addCourseForm.value | json }}</p>
  <p>Form status: {{ addCourseForm.status }}</p>
  <p>Authors status: {{ addCourseForm.get('authors').status }}</p>
</div>
