@import '../../../../../../styles/common';

.wrapper {
  width: 100%;
  padding: 10px 0 calc(#{$footer-height} + 12px);
}

.add-form {
  width: calc(300px + 20%);
  margin: 40px auto;

  input, textarea {
    border: 1px solid $dark-grey-color;
    border-radius: 4px;
    padding: 3px 5px;
    outline: none;

    &:focus {
      outline: none;
    }

    &.error {
      border: 1px solid $red-color;
    }
  }
}

.form-row {
  display: flex;
  padding: 5px 0;

  &__title {
    flex: 0 0 100px;
    text-align: right;
    padding-right: 20px;
  }

  &__aside-right {
    width: 100%;
  }

  &--centralised {
    justify-content: center;
  }
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.button-save, .button-cancel {
  margin: 0 10px;
  border: none;
}

.button-save[disabled] {
  background-color: $red-color;
}

.error-msg {
  color: $red-color;
  font-weight: bold;
  font-size: .8rem;
}
