<form
  [formGroup]="addCourseForm"
  novalidate
  class="add-form">

  <div class="form-row">
    <div class="form-row__title">Title</div>
    <div class="form-row__aside-right">
      <input
        formControlName="title"
        class="full-width"
        type="text">
    </div>
  </div>

  <div class="form-row">
    <div class="form-row__title">Description</div>
    <div class="form-row__aside-right">
      <textarea
        class="full-width" name="" id="" cols="30" rows="10"
        formControlName="description"
        ></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-row__title">Date</div>
    <div class="form-row__aside-right">
      <input class="full-width" type="text">
    </div>
  </div>
  <div class="form-row">
    <div class="form-row__title">Duration</div>
    <div class="form-row__aside-right">
      <!--<input [(ngModel)]="duration" type="text">-->
      <input type="text">
      <span>{{ duration | duration }}</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-row__title">Authors</div>
    <div class="form-row__aside-right">
    </div>
  </div>
  <div class="form-row form-row--centralised">
    <a class="button-save btn btn-violet"
       (click)="onSave()"
    >Save</a>
    <a class="button-cancel btn btn-red"
       (click)="onCancel()"
    >Cancel</a>
  </div>
</form>

<p>Form value: {{ addCourseForm.value | json }}</p>
<p>Form status: {{ addCourseForm.status | json }}</p>
