@import '../../styles/common';

.wrapper {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.container {
  @include container;
  align-items: center;
  background-color: $violet-color;
  color: $text-light-color;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
