@import '../../styles/common';

.wrapper {
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  @include container;
  align-items: center;
  background-color: $violet-color;
  color: $text-light-color;
}

.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
